.rootPage{
    background-color: rgb(140, 255, 201);
	background-image: url("../../images/img1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100vw;
	height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}